.finder {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    max-width: 80%;
    margin: 0 auto;
}

.finder > input {
    max-height: 2rem;
    width: calc(100% - 1rem);
}

.finder > table {
    max-width: 100%;
}

.finder h1 {
    text-align: center;
}

.finder .red {
    color: var(--red-accent)
}

span.guests {
    font-size: 1rem;
    font-style: italic;
}