.finder {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
}

.finder > input {
    max-height: 2rem;
}

.finder h1 {
    text-align: center;
}

.finder .red {
    color: var(--red-accent)
}

span.guests {
    font-size: 1rem;
    font-style: italic;
}